<a href="https://colab.research.google.com/github/ajaycode/machine-learning/blob/main/S_%26_P_500.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# S & P 500 Returns

In [ ]:
#Import the python libraries
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt
from google.colab import auth
import gspread
from google.auth import default
plt.style.use('fivethirtyeight')

In [ ]:
auth.authenticate_user()
creds,_ = default()
gc = gspread.authorize (creds)

In [ ]:
#from pandas._libs.tslibs.parsing import parse_datetime_string
#workbook = gc.open_by_url('https://docs.google.com/spreadsheets/d/1MhfnKggZxJpKwsMMHoKXcSjvklbpoKyB0lsCWF3GYnw/edit#gid=0')
#worksheet1    = workbook.worksheet('Sheet1')
df1 = pd.read_csv ('SandP_500.csv')
# required, if reading from Google Sheets.
df1 = pd.DataFrame (worksheet1.get_all_values())

#Treat the first row as columns, needed if reading from a google sheet
#df1.columns = df1.iloc[0]
df1 = df1.iloc[1:]

In [ ]:
df1.head()

0  Year Value
1  1871  4.44
2  1872  4.86
3  1873  5.11
4  1874  4.66
5  1875  4.54

In [ ]:
#Column names that contain returns
One_Year = '1Y %'
Three_Year = '3Y %'
Five_Year = '5Y %'
Ten_Year  = '10Y %'
Fifteen_Year = '15Y %'
Twenty_Year  = '20Y %'
TwentyFive_Year  = '25Y %'
Thirty_Year  = '30Y %'
Forty_Year   = '40Y %'
Fifty_Year  = '50Y %'

In [ ]:
# Convert to integer and floating data typles
#df1['Year']  = pd.to_numeric (df1['Year'], errors = 'coerce')
#df1['Value'] = pd.to_numeric   (df1['Value'],errors='coerce')

In [ ]:
#Check if there are NaN values (non numbers) and display them
#newdf = df1[(df1['Value'].isnull())]
#print (newdf)

In [ ]:
# N year returns
#df1.at [0,1,2,3,4, Five_Year] = 0
def returns_in_n_years (number_of_years, column_name_to_be_updated):
  num_years = number_of_years
  for i in range (num_years, len(df1)):
    #df1.at[i+1, column_name_to_be_updated] = 100*(df1.iloc[i]['Value'] - df1.iloc[i-num_years]['Value'])/df1.iloc[i-num_years]['Value']
    df1.at[i+1, column_name_to_be_updated] = 100*(((df1.iloc[i]['Value']/df1.iloc[i-num_years]['Value'])**(1/num_years))-1)
  df1[column_name_to_be_updated] = df1[column_name_to_be_updated].round(2)

In [ ]:
returns_in_n_years (1, One_Year)
returns_in_n_years (3, Three_Year)
returns_in_n_years(5, Five_Year)
returns_in_n_years (10, Ten_Year)
returns_in_n_years (15, Fifteen_Year)
returns_in_n_years (20, Twenty_Year)
returns_in_n_years (25, TwentyFive_Year)
returns_in_n_years (30, Thirty_Year)
returns_in_n_years (40, Forty_Year)
returns_in_n_years (50, Fifty_Year)

TypeError: ignored

In [ ]:
#df1.tail()
#df1[One_Year]  = pd.to_numeric (df1[One_Year], errors = 'coerce')
#df1[Three_Year]  = pd.to_numeric (df1[Three_Year], errors = 'coerce')
df1.info()

In [ ]:
#df1[Ten_Year].mean()

In [ ]:
#Customizing the data table display, sortable columns
from google.colab import data_table
#Replace 'NaN' with blanks
df1 = df1.replace (np.nan, '')
#df1.fillna (" ")
#print (df1)
df1.style.highlight_min (color='blue').highlight_max(color='magenta').highlight_null()
df1.head(len(df1))
#data_table.DataTable(df1, include_index=False, num_rows_per_page=len(df1))

In [ ]:
#@title Calculate average for each period
#df1[One_Year]  = pd.to_numeric (df1[One_Year], errors = 'coerce')

#print (df1[One_Year].mean())
#print (df1[Five_Year].mean())

print( df1[[One_Year, Five_Year, Ten_Year, Fifteen_Year, Twenty_Year, TwentyFive_Year, Thirty_Year, Forty_Year, Fifty_Year]].mean().to_list())

#Round all columns to digits after decimal
averagedf = averagedf.round(2)
averagedf.head()

In [ ]:
#@title Calculate the mean using DataFrame.mean()
averagedf = df1.mean (axis = 0, skipna = True)
#data_table.DataTable(averagedf, include_index=False)

In [ ]:
averagedf[Twenty_Year].round(2)

In [ ]:
#@title To Do: Add a heatmap of returns
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

# Make a 10 x 10 heatmap of some random data
side_length = 10
# Start with a 10 x 10 matrix with values randomized around 5
data = 5 + np.random.randn(side_length, side_length)
# The next two lines make the values larger as we get closer to (9, 9)
data += np.arange(side_length)
data += np.reshape(np.arange(side_length), (side_length, 1))
# Generate the heatmap
sns.heatmap(data)
plt.show()